@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {text-decoration: none;}

body{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 16px;
    background: white;
    color: #000;
}

header{
    width: 100%;
    padding: 10px 0;
    float: left;
    background: #F8F8F8;
    box-shadow: 2px 4px 6px rgba(194, 192, 192, 0.25);
}

header .header-container{
    width: 60%;
    margin: 0 20%;
}

.select-lang{
    width: 100%;
    text-align: right; 
}

.select-lang a{
    font-size: 14px;
    color: #c4c4c4;
    text-decoration: none;
    font-weight: 800;
}

.select-lang a.active,
.select-lang a:hover{
    color: #000;
    border-bottom: 2px solid #000;
    margin-left: 5px;
}

