@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {text-decoration: none;}

body{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 16px;
    background: white;
    color: #000;
}

header{
    width: 100%;
    padding: 10px 0;
    float: left;
    background: #F8F8F8;
    box-shadow: 2px 4px 6px rgba(194, 192, 192, 0.25);
    /*добавляем что бы не плыли строчные конструкции*/
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
}

header .header-container{
    width: 60%;
    margin: 0 20%;
}

.select-lang{
    width: 100%;
    text-align: right; 
}

.select-lang a{
    font-size: 14px;
    color: #c4c4c4;
    text-decoration: none;
    font-weight: 800;
}

.select-lang a.active,
.select-lang a:hover{
    color: #000;
    border-bottom: 2px solid #000;
    margin-left: 5px;
}

header .header-container .header-main{
    width: 100%;
    margin-top: 20px;
}

header .header-container .header-main img {
    height: 50px;
    float: left;
}

#search{
    float:left;
    margin-left: 10px;
    border: 0;
    background: #ececec;
    width: 360px;
    height: 44px;
    font-weight: 300;
    font-size: 12px;
    /*Устанавливает величину отступа первой строки блока текста*/
    text-indent: 20px;
    /*В отличие от линии, задаваемой через border, свойство
     outline не влияет на положение блока и его ширину*/
    outline: none; 
    margin-top: 5px;
    margin-left: 20px; 
}

header .header-container .header-main a {
    float: left;
    color: #000;
    font-weight: 800;
    margin-left: 50px;
    margin-top: 15px;
}

header .header-container .header-main a:hover{
    color: #ccc;
}

header .header-container .header-main .btn{
    cursor: pointer;
    float: right;
    margin-left: 20px;
    width: 115px;
    height: 40px;
    font-weight: 800;
    border: 2px solid black;
    text-align: center;
    /*Устанавливает интерлиньяж (межстрочный интервал) текста*/
    line-height: 40px;
}
/* .btn.reg выбрать элемент с класом btn И C КЛАССОМ reg*/
header .header-container .header-main .btn.reg{
    width: 140px;
}

header .header-container .header-main .btn.auth{
    width: 86px;
}
header .header-container .header-main .btn.reg,
header .header-container .header-main .btn.auth:hover{
    background: #000;
    color: white;
}

header .header-container .header-main .btn.reg:hover{
    background: white;
    color: #000;
}

main{
    float: left;
    width: 100%;
}
main .section{
    float: left;
    width: 60%;
    margin: 50px 20% 
}

main .section h3{font-size: 24px;}
main .section h3 span{height: 2px; display: inline-block; margin-right: 15px; margin-left: 40px; margin-bottom: 7px; width: 30px; background: #000;}


main .section .img-block{
    width: 25%;
    margin: 20px 0;
    float: left;
    position: relative;
}
main .section .img-block:not(:last-of-type){margin-right: 12%;}
main .section .img-block img{width: 100%;}
main .section .img-block h4{margin-top: 10px;margin-bottom: 5px;}
main .section .img-block p{font-size: 14px; font-weight: 300;}



main .section .img-block .btn-play{
    background-color: #000; 
    color: yellow;
    padding: 20px;
    position: absolute;
    right: -30px;
    bottom: 80px;
} 



